hr {
	border-color: #333;
	border-style: dashed;
}

.topbar {
	position: fixed;
	background-color: #eee;
	box-sizing: border-box;
	border-bottom-style: dashed;
	border-bottom-color: #333;
	border-bottom-width: 2px;
}

.content {
	margin-top: 50px;
}